<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rocket</title>
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/feedback.css">
</head>
<div class="nav">
    <div class="logo">
      <img src="/static/img/logo.png" alt="logo">
  </div>
  <nav>
      <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/rules">Rules</a></li>
          <li><a href="/feedback">Feedback</a></li>
          <li><a href="/port">Portfolio</a></li>
          <li><a href="/transcat">Transcat</a></li>
          <li><a href="/learn">Learn</a></li>
          <li><a href="/leaders">Leaders</a></li>
      </ul>
  </nav>
      <div class="name">
          <h1>Rocket </h1>
          <h4>Stock Market Simulator</h4>
      </div>      
  </div>
    <div class="feedbackbody">
        <h1>Feedback</h1>
        <p class="p1"> <b class="b1">At RocketStockMarketSimulator.com </b>we value your  we value your <b>feedback</b> as it helps us make the site more user-friendly on an ongoing basis.</p>
        <p>Suggestions, queries, comments and even criticism are welcome. Please select the category of your feedback in the form below, and we will route it to the concerned person to get it addressed.</p>
       <div class="contents">
           <table id="table">
               <tr>
                   <td class="labels">Name</td>
                   <td>
                       <input type="text" name="" id="Name" placeholder="Enter Your Name">
                   </td>
               </tr>
               <tr>
                   <td class="labels">Email Address</td>
                   <td>
                       <input type="text" id="email" name=""placeholder="Enter Your Email address">
                   </td>
               </tr>
               <tr>
                   <td class="labels">Feedback</td>
                   
                   <td class="radio">
                       <div class="rd1"><label for="feedback">Suggestion </label>
                       <input type="radio" name="feedback1" id="feedback" >
                       </div>
                       <div class="rd2"><label for="comments">Comments</label>
                       <input type="radio" name="feedback1" id="comments">
                       </div>
                       <div class="rd3"><label for="errors">Errors</label>
                       <input type="radio" name="feedback1" id="errors">
                       </div>
                    </td>
                   
                </tr>
                <tr>
                    <td class="labels">Your comments</td>
                    <td>
                    <input type="text" name="" id=""placeholder="Enter Your Comments">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn">Submit</button>
                    </td>
                </tr>


                
           </table>
          
       </div>
    </div>
</body>
<footer>
    <div class="foot">
        Copyright &copy; rocket.com Ltd. All rights reserved.
    </div>
</footer>
</html>