<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Rocket
    </title>
    <link rel="shortcut icon" href="/static/img/logo.png" type="image/x-icon">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/learn.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
 <!-- navigation and logo -->
 <div class="nav">
    <div class="logo">
      <img src="/static/img/logo.png" alt="logo">
  </div>
  <nav>
      <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/rules">Rules</a></li>
          <li><a href="/feedback">Feedback</a></li>
          <li><a href="/port">Portfolio</a></li>
          <li><a href="/transcat">Transcat</a></li>
          <li><a href="/learn">Learn</a></li>
          <li><a href="/leaders">Leaders</a></li>
      </ul>
  </nav>
    <div class="name">
        <h1>Rocket </h1>
        <h4>Stock Market Simulator</h4>
    </div>      
</div>
<div class="header">
    <h1>Learn</h1>
</div>

<div class="box">
    
    <div class="phone1">
     <h4>Brokerage</h4>
     <p>A fee charged by a broker for facilitating the purchase or sale of any security. In Moneybhai we will be charging 0.50% for Stocks, 0.10% for Stocks-Intraday, 0.50% for Mutual Funds when you sell the fund , 0.50% for Bonds, 0.02% for Commodities, 0.02% for Currencies, and 0.05% for F&O.</p>
    </div>
    <div class="phone2">
        <h4>GTC Orders</h4>
        <p>A Good Till Cancelled (GTC) order remains in the system until the trading member cancels it. However for Moneybhai we will cancel an order if it is not executed within 5 days. The days counted are inclusive of the day/date on which the order is placed and inclusive of holidays.</p>
    </div>
    <div class="phone3">
        <h4>GTD Orders</h4>
        <p>A Good Till Day (GTD) order remains in the system till the end of the trading day. At close all unexecuted orders will be cancelled and a fresh order will need to be placed to execute the unexecuted orders the next day.</p>
    </div>
    <div class="phone4">
        <h4>Limit Order</h4>
        <p>Limit Order is an order to buy or sell securities in which you specify the maximum price per unit in case of a Buy order and the minimum price per unit in case of a Sell order. The actual transaction can be at a price more favourable than the price specified</p>
    </div>
    <div class="phone5">
        <h4>Market Order</h4>
        <p>Market Order is an order to buy or sell securities at the best price obtainable in the market at the time it is matched by the exchange. Therefore, chances of its getting executed are better.</p>
    </div>
    <div class="phone6">
        <h4>Short Covering</h4>
        <p>Short Covering means buying of securities to square off an open short position.</p>
    </div>
    <div class="phone7">
        <h4>Short Selling</h4>
        <p>Short Selling means a trader will sell a security he does not own with an intent to cover (buy back) the stock at a lower price than the price at which he short (sold).</p>
    </div>
    <div class="phone8">
        <h4>Square Off</h4>
        <p>Squaring off a position means closing out a position. For example, if you have an intraday buy position of 100 Infosys shares, squaring off this position would mean selling 100 Infosys shares. The order placed for squaring off an open position is called a cover order.</p>
    </div>
    <div class="phone9">
        <h4>Stop Loss</h4>
        <p>A Stop Loss is an order to buy (or sell) a security once the price of the security climbs above or drops below a specified price. It is an order to buy a security at no more or sell at no less than a specified price limit.
        </p>
    </div>
    <div class="phone10">
        <h4>STT</h4>
        <p>Securities Transaction Tax is a tax paid by the buyer and seller at 0.125% of the transaction value on delivery based transactions. On non-delivery based transactions in equities or units of an equity oriented fund it is payable by the seller at 0.025%. In case of sale of options in securities, STT is levied at the rate of 0.017% of the option premium to be paid by the seller. In case of sale of options in securities where the option is exercised, STT is levied at 0.125% of the settlement price and is paid by the purchaser. In case of sale of futures in securities, STT at 0.017% is to be paid by the seller. In the case of sale of units of an equity oriented fund to the mutual fund, it is payable by the seller at 0.25%. For Moneybhai we will keep STT as ##></p>
    </div>
    <div class="phone11">
        <h4>Target Price</h4>
        <p>Target Price is the price at which a trader/investor expects the price of the security to move to and intends to buy or sell at that price depending on whether he has initially bought or sold the security.</p>
    </div>


</div>
<footer>
    <div class="foot">
        Copyright &copy; rocket.com Ltd. All rights reserved.
    </div>
</footer>

</body>


</html>