<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Rocket
    </title>
    <link rel="shortcut icon" href="logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/home.css">
    <script src="login.js"></script>
    <script src="fg.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
 <!-- navigation and logo -->
<div class="nav">
      <div class="logo">
        <img src="logo.png" alt="logo">
    </div>
    <nav>
        <ul>
            <li><a  class="active" href="home.html">Home</a></li>
            <li><a href="rules.html">Rules</a></li>
            <li><a href="feedback.html">Feedback</a></li>
            <li><a href="port.html">Portfolio</a></li>
            <li><a href="transcat.html">Transcat</a></li>
            <li><a href="learn.html">Learn</a></li>
            <li><a href="leaders.html">Leaders</a></li>
        </ul>
    </nav>
    <div class="name">
        <h1>Rocket</h1>
        <h4>Stock Market Simulator</h4>
    </div>      
</div>
<div class="myspace">
    <header>
        <h1>MySpace</h1>  
        
            <h3 style="text-align:left; ">Net worth</h3>
            <h3 style="text-align: center;">Rank</h3>
            <h3 style="text-align: end; ">Overall Gain/Loss</h3>
       
    
        <div class="container">
            <div class="box" style="text-align: center;">This is for pie chart</div>
        
    </div>
        

    </header>
</div>

</body>
</html>