{% extends "strategies.html" %}
{% block content %}

<div class="rounded-box mbh-rank-table mbh-stock-advice">
 <div class="box-head">
  <p class="main-title pt5">
   Stock Advice
  </p>
  <p class="sub-title">
   Stock advice is based on fundamentals or technical research by industry experts
  </p>
 </div>
 <div class="box-content">
  <div class="mb-table">
   <div class="row header">
    <div class="col col-40 text-left">
     COMPANY
    </div>
    <div class="col col-30 text-right">
     PRICE
    </div>
    <div class="col col-30 center-text">
     SEE WHY?
    </div>
   </div>
   <!-- Start of Row -->
   <div class="row accordion pb15 pt15 mbh-rank-table-row">
    <div class="col col-40 text-left bold" style="cursor:pointer;white-space: nowrap;overflow: hidden;">
     Axis Bank
    </div>
    <div class="col col-30 curr-cost text-right">
     728.70
    </div>
    <div class="col col-30 center-text">
     <a href="http://www.moneycontrol.com/news/recommendations/buy-axis-bank-targetrs-930-motilal-oswal_16325481.html" onclick='GAEventTracker("Moneybhai Home", "Stock Advice-Latest News", "Axis Bank")' target="_blank">
      <svg height="12.299" viewbox="0 0 14.759 12.299" width="14.759" xmlns="https://www.w3.org/2000/svg">
       <defs>
        <style>
         .a {
                                        fill: #454545;
                                    }
        </style>
       </defs>
       <g transform="translate(0 -2)">
        <path class="a" d="M12.3,14.3H2.46A2.467,2.467,0,0,1,0,11.84V2.615A.581.581,0,0,1,.615,2H12.3a.581.581,0,0,1,.615.615v8.61a.615.615,0,0,1-1.23,0V3.23H1.23v8.61a1.234,1.234,0,0,0,1.23,1.23H12.3a.615.615,0,0,1,0,1.23Z">
        </path>
        <path class="a" d="M11.615,3.23A.581.581,0,0,1,11,2.615a.615.615,0,0,1,1.23,0A.581.581,0,0,1,11.615,3.23Z" transform="translate(-4.235)">
        </path>
        <path class="a" d="M17.69,15.069H14.615a.615.615,0,0,1,0-1.23H17.69a1.234,1.234,0,0,0,1.23-1.23V5.23H17.69a.581.581,0,0,1-.615-.615A.581.581,0,0,1,17.69,4h1.845a.581.581,0,0,1,.615.615V12.61A2.467,2.467,0,0,1,17.69,15.069Z" transform="translate(-5.39 -0.77)">
        </path>
        <path class="a" d="M7.69,10.92H4.615A.581.581,0,0,1,4,10.3V6.615A.581.581,0,0,1,4.615,6H7.69a.581.581,0,0,1,.615.615V10.3A.581.581,0,0,1,7.69,10.92ZM5.23,9.69H7.075V7.23H5.23Z" transform="translate(-1.54 -1.54)">
        </path>
        <path class="a" d="M14.46,7.23H12.615A.581.581,0,0,1,12,6.615.581.581,0,0,1,12.615,6H14.46a.581.581,0,0,1,.615.615A.581.581,0,0,1,14.46,7.23Z" transform="translate(-4.62 -1.54)">
        </path>
        <path class="a" d="M14.46,10.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -2.695)">
        </path>
        <path class="a" d="M14.46,13.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -3.85)">
        </path>
        <path class="a" d="M11.38,17.23H4.615a.615.615,0,1,1,0-1.23H11.38a.615.615,0,1,1,0,1.23Z" transform="translate(-1.54 -5.39)">
        </path>
       </g>
      </svg>
     </a>
    </div>
    <!-- Start of Accordion Content -->
    <div class="accordion-content mt15 pr15 pl15" style="display: none;">
     <button class="mb-rgbtn" onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/AB16'">
      buy
     </button>
     <script>
      if (readCookie('nnmc')){
                        var sellbtn = `<button onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/AB16'" class="mb-rgbtn">sell</button>`;
                        document.write(sellbtn);
                }
     </script>
     <a class="view-btn" href="https://moneybhai.moneycontrol.com/snapshot/stock-AB16.html">
      View Stock
     </a>
    </div>
   </div>
   <div class="row accordion pb15 pt15 mbh-rank-table-row">
    <div class="col col-40 text-left bold" style="cursor:pointer;white-space: nowrap;overflow: hidden;">
     SBI Life Insura
    </div>
    <div class="col col-30 curr-cost text-right">
     1107.90
    </div>
    <div class="col col-30 center-text">
     <a href="http://www.moneycontrol.com/news/recommendations/buy-sbi-life-insurance-targetrs-1450-motilal-oswal_16325501.html" onclick='GAEventTracker("Moneybhai Home", "Stock Advice-Latest News", "SBI Life Insura")' target="_blank">
      <svg height="12.299" viewbox="0 0 14.759 12.299" width="14.759" xmlns="https://www.w3.org/2000/svg">
       <defs>
        <style>
         .a {
                                        fill: #454545;
                                    }
        </style>
       </defs>
       <g transform="translate(0 -2)">
        <path class="a" d="M12.3,14.3H2.46A2.467,2.467,0,0,1,0,11.84V2.615A.581.581,0,0,1,.615,2H12.3a.581.581,0,0,1,.615.615v8.61a.615.615,0,0,1-1.23,0V3.23H1.23v8.61a1.234,1.234,0,0,0,1.23,1.23H12.3a.615.615,0,0,1,0,1.23Z">
        </path>
        <path class="a" d="M11.615,3.23A.581.581,0,0,1,11,2.615a.615.615,0,0,1,1.23,0A.581.581,0,0,1,11.615,3.23Z" transform="translate(-4.235)">
        </path>
        <path class="a" d="M17.69,15.069H14.615a.615.615,0,0,1,0-1.23H17.69a1.234,1.234,0,0,0,1.23-1.23V5.23H17.69a.581.581,0,0,1-.615-.615A.581.581,0,0,1,17.69,4h1.845a.581.581,0,0,1,.615.615V12.61A2.467,2.467,0,0,1,17.69,15.069Z" transform="translate(-5.39 -0.77)">
        </path>
        <path class="a" d="M7.69,10.92H4.615A.581.581,0,0,1,4,10.3V6.615A.581.581,0,0,1,4.615,6H7.69a.581.581,0,0,1,.615.615V10.3A.581.581,0,0,1,7.69,10.92ZM5.23,9.69H7.075V7.23H5.23Z" transform="translate(-1.54 -1.54)">
        </path>
        <path class="a" d="M14.46,7.23H12.615A.581.581,0,0,1,12,6.615.581.581,0,0,1,12.615,6H14.46a.581.581,0,0,1,.615.615A.581.581,0,0,1,14.46,7.23Z" transform="translate(-4.62 -1.54)">
        </path>
        <path class="a" d="M14.46,10.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -2.695)">
        </path>
        <path class="a" d="M14.46,13.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -3.85)">
        </path>
        <path class="a" d="M11.38,17.23H4.615a.615.615,0,1,1,0-1.23H11.38a.615.615,0,1,1,0,1.23Z" transform="translate(-1.54 -5.39)">
        </path>
       </g>
      </svg>
     </a>
    </div>
    <!-- Start of Accordion Content -->
    <div class="accordion-content mt15 pr15 pl15" style="display: none;">
     <button class="mb-rgbtn" onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/SLI03'">
      buy
     </button>
     <script>
      if (readCookie('nnmc')){
                        var sellbtn = `<button onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/SLI03'" class="mb-rgbtn">sell</button>`;
                        document.write(sellbtn);
                }
     </script>
     <a class="view-btn" href="https://moneybhai.moneycontrol.com/snapshot/stock-SLI03.html">
      View Stock
     </a>
    </div>
   </div>
   <div class="row accordion pb15 pt15 mbh-rank-table-row">
    <div class="col col-40 text-left bold" style="cursor:pointer;white-space: nowrap;overflow: hidden;">
     Varun Beverages
    </div>
    <div class="col col-30 curr-cost text-right">
     1084.35
    </div>
    <div class="col col-30 center-text">
     <a href="http://www.moneycontrol.com/news/recommendations/buy-varun-beverages-targetrs-1230-motilal-oswal_16325521.html" onclick='GAEventTracker("Moneybhai Home", "Stock Advice-Latest News", "Varun Beverages")' target="_blank">
      <svg height="12.299" viewbox="0 0 14.759 12.299" width="14.759" xmlns="https://www.w3.org/2000/svg">
       <defs>
        <style>
         .a {
                                        fill: #454545;
                                    }
        </style>
       </defs>
       <g transform="translate(0 -2)">
        <path class="a" d="M12.3,14.3H2.46A2.467,2.467,0,0,1,0,11.84V2.615A.581.581,0,0,1,.615,2H12.3a.581.581,0,0,1,.615.615v8.61a.615.615,0,0,1-1.23,0V3.23H1.23v8.61a1.234,1.234,0,0,0,1.23,1.23H12.3a.615.615,0,0,1,0,1.23Z">
        </path>
        <path class="a" d="M11.615,3.23A.581.581,0,0,1,11,2.615a.615.615,0,0,1,1.23,0A.581.581,0,0,1,11.615,3.23Z" transform="translate(-4.235)">
        </path>
        <path class="a" d="M17.69,15.069H14.615a.615.615,0,0,1,0-1.23H17.69a1.234,1.234,0,0,0,1.23-1.23V5.23H17.69a.581.581,0,0,1-.615-.615A.581.581,0,0,1,17.69,4h1.845a.581.581,0,0,1,.615.615V12.61A2.467,2.467,0,0,1,17.69,15.069Z" transform="translate(-5.39 -0.77)">
        </path>
        <path class="a" d="M7.69,10.92H4.615A.581.581,0,0,1,4,10.3V6.615A.581.581,0,0,1,4.615,6H7.69a.581.581,0,0,1,.615.615V10.3A.581.581,0,0,1,7.69,10.92ZM5.23,9.69H7.075V7.23H5.23Z" transform="translate(-1.54 -1.54)">
        </path>
        <path class="a" d="M14.46,7.23H12.615A.581.581,0,0,1,12,6.615.581.581,0,0,1,12.615,6H14.46a.581.581,0,0,1,.615.615A.581.581,0,0,1,14.46,7.23Z" transform="translate(-4.62 -1.54)">
        </path>
        <path class="a" d="M14.46,10.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -2.695)">
        </path>
        <path class="a" d="M14.46,13.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -3.85)">
        </path>
        <path class="a" d="M11.38,17.23H4.615a.615.615,0,1,1,0-1.23H11.38a.615.615,0,1,1,0,1.23Z" transform="translate(-1.54 -5.39)">
        </path>
       </g>
      </svg>
     </a>
    </div>
    <!-- Start of Accordion Content -->
    <div class="accordion-content mt15 pr15 pl15" style="display: none;">
     <button class="mb-rgbtn" onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/VB05'">
      buy
     </button>
     <script>
      if (readCookie('nnmc')){
                        var sellbtn = `<button onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/VB05'" class="mb-rgbtn">sell</button>`;
                        document.write(sellbtn);
                }
     </script>
     <a class="view-btn" href="https://moneybhai.moneycontrol.com/snapshot/stock-VB05.html">
      View Stock
     </a>
    </div>
   </div>
   <div class="row accordion pb15 pt15 mbh-rank-table-row">
    <div class="col col-40 text-left bold" style="cursor:pointer;white-space: nowrap;overflow: hidden;">
     Varun Beverages
    </div>
    <div class="col col-30 curr-cost text-right">
     1084.35
    </div>
    <div class="col col-30 center-text">
     <a href="http://www.moneycontrol.com/news/recommendations/buy-varun-beverages-targetrs-1230-motilal-oswal_16325541.html" onclick='GAEventTracker("Moneybhai Home", "Stock Advice-Latest News", "Varun Beverages")' target="_blank">
      <svg height="12.299" viewbox="0 0 14.759 12.299" width="14.759" xmlns="https://www.w3.org/2000/svg">
       <defs>
        <style>
         .a {
                                        fill: #454545;
                                    }
        </style>
       </defs>
       <g transform="translate(0 -2)">
        <path class="a" d="M12.3,14.3H2.46A2.467,2.467,0,0,1,0,11.84V2.615A.581.581,0,0,1,.615,2H12.3a.581.581,0,0,1,.615.615v8.61a.615.615,0,0,1-1.23,0V3.23H1.23v8.61a1.234,1.234,0,0,0,1.23,1.23H12.3a.615.615,0,0,1,0,1.23Z">
        </path>
        <path class="a" d="M11.615,3.23A.581.581,0,0,1,11,2.615a.615.615,0,0,1,1.23,0A.581.581,0,0,1,11.615,3.23Z" transform="translate(-4.235)">
        </path>
        <path class="a" d="M17.69,15.069H14.615a.615.615,0,0,1,0-1.23H17.69a1.234,1.234,0,0,0,1.23-1.23V5.23H17.69a.581.581,0,0,1-.615-.615A.581.581,0,0,1,17.69,4h1.845a.581.581,0,0,1,.615.615V12.61A2.467,2.467,0,0,1,17.69,15.069Z" transform="translate(-5.39 -0.77)">
        </path>
        <path class="a" d="M7.69,10.92H4.615A.581.581,0,0,1,4,10.3V6.615A.581.581,0,0,1,4.615,6H7.69a.581.581,0,0,1,.615.615V10.3A.581.581,0,0,1,7.69,10.92ZM5.23,9.69H7.075V7.23H5.23Z" transform="translate(-1.54 -1.54)">
        </path>
        <path class="a" d="M14.46,7.23H12.615A.581.581,0,0,1,12,6.615.581.581,0,0,1,12.615,6H14.46a.581.581,0,0,1,.615.615A.581.581,0,0,1,14.46,7.23Z" transform="translate(-4.62 -1.54)">
        </path>
        <path class="a" d="M14.46,10.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -2.695)">
        </path>
        <path class="a" d="M14.46,13.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -3.85)">
        </path>
        <path class="a" d="M11.38,17.23H4.615a.615.615,0,1,1,0-1.23H11.38a.615.615,0,1,1,0,1.23Z" transform="translate(-1.54 -5.39)">
        </path>
       </g>
      </svg>
     </a>
    </div>
    <!-- Start of Accordion Content -->
    <div class="accordion-content mt15 pr15 pl15" style="display: none;">
     <button class="mb-rgbtn" onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/VB05'">
      buy
     </button>
     <script>
      if (readCookie('nnmc')){
                        var sellbtn = `<button onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/VB05'" class="mb-rgbtn">sell</button>`;
                        document.write(sellbtn);
                }
     </script>
     <a class="view-btn" href="https://moneybhai.moneycontrol.com/snapshot/stock-VB05.html">
      View Stock
     </a>
    </div>
   </div>
   <div class="row accordion pb15 pt15 mbh-rank-table-row">
    <div class="col col-40 text-left bold" style="cursor:pointer;white-space: nowrap;overflow: hidden;">
     Axis Bank
    </div>
    <div class="col col-30 curr-cost text-right">
     728.70
    </div>
    <div class="col col-30 center-text">
     <a href="http://www.moneycontrol.com/news/recommendations/buy-axis-bank-targetrs-970-icici-direct_16325461.html" onclick='GAEventTracker("Moneybhai Home", "Stock Advice-Latest News", "Axis Bank")' target="_blank">
      <svg height="12.299" viewbox="0 0 14.759 12.299" width="14.759" xmlns="https://www.w3.org/2000/svg">
       <defs>
        <style>
         .a {
                                        fill: #454545;
                                    }
        </style>
       </defs>
       <g transform="translate(0 -2)">
        <path class="a" d="M12.3,14.3H2.46A2.467,2.467,0,0,1,0,11.84V2.615A.581.581,0,0,1,.615,2H12.3a.581.581,0,0,1,.615.615v8.61a.615.615,0,0,1-1.23,0V3.23H1.23v8.61a1.234,1.234,0,0,0,1.23,1.23H12.3a.615.615,0,0,1,0,1.23Z">
        </path>
        <path class="a" d="M11.615,3.23A.581.581,0,0,1,11,2.615a.615.615,0,0,1,1.23,0A.581.581,0,0,1,11.615,3.23Z" transform="translate(-4.235)">
        </path>
        <path class="a" d="M17.69,15.069H14.615a.615.615,0,0,1,0-1.23H17.69a1.234,1.234,0,0,0,1.23-1.23V5.23H17.69a.581.581,0,0,1-.615-.615A.581.581,0,0,1,17.69,4h1.845a.581.581,0,0,1,.615.615V12.61A2.467,2.467,0,0,1,17.69,15.069Z" transform="translate(-5.39 -0.77)">
        </path>
        <path class="a" d="M7.69,10.92H4.615A.581.581,0,0,1,4,10.3V6.615A.581.581,0,0,1,4.615,6H7.69a.581.581,0,0,1,.615.615V10.3A.581.581,0,0,1,7.69,10.92ZM5.23,9.69H7.075V7.23H5.23Z" transform="translate(-1.54 -1.54)">
        </path>
        <path class="a" d="M14.46,7.23H12.615A.581.581,0,0,1,12,6.615.581.581,0,0,1,12.615,6H14.46a.581.581,0,0,1,.615.615A.581.581,0,0,1,14.46,7.23Z" transform="translate(-4.62 -1.54)">
        </path>
        <path class="a" d="M14.46,10.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -2.695)">
        </path>
        <path class="a" d="M14.46,13.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -3.85)">
        </path>
        <path class="a" d="M11.38,17.23H4.615a.615.615,0,1,1,0-1.23H11.38a.615.615,0,1,1,0,1.23Z" transform="translate(-1.54 -5.39)">
        </path>
       </g>
      </svg>
     </a>
    </div>
    <!-- Start of Accordion Content -->
    <div class="accordion-content mt15 pr15 pl15" style="display: none;">
     <button class="mb-rgbtn" onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/AB16'">
      buy
     </button>
     <script>
      if (readCookie('nnmc')){
                        var sellbtn = `<button onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/AB16'" class="mb-rgbtn">sell</button>`;
                        document.write(sellbtn);
                }
     </script>
     <a class="view-btn" href="https://moneybhai.moneycontrol.com/snapshot/stock-AB16.html">
      View Stock
     </a>
    </div>
   </div>
   <div class="row accordion pb15 pt15 mbh-rank-table-row">
    <div class="col col-40 text-left bold" style="cursor:pointer;white-space: nowrap;overflow: hidden;">
     Gateway Distri
    </div>
    <div class="col col-30 curr-cost text-right">
     74.00
    </div>
    <div class="col col-30 center-text">
     <a href="http://www.moneycontrol.com/news/recommendations/buy-gateway-distriparks-targetrs-100-icici-direct_16325401.html" onclick='GAEventTracker("Moneybhai Home", "Stock Advice-Latest News", "Gateway Distri")' target="_blank">
      <svg height="12.299" viewbox="0 0 14.759 12.299" width="14.759" xmlns="https://www.w3.org/2000/svg">
       <defs>
        <style>
         .a {
                                        fill: #454545;
                                    }
        </style>
       </defs>
       <g transform="translate(0 -2)">
        <path class="a" d="M12.3,14.3H2.46A2.467,2.467,0,0,1,0,11.84V2.615A.581.581,0,0,1,.615,2H12.3a.581.581,0,0,1,.615.615v8.61a.615.615,0,0,1-1.23,0V3.23H1.23v8.61a1.234,1.234,0,0,0,1.23,1.23H12.3a.615.615,0,0,1,0,1.23Z">
        </path>
        <path class="a" d="M11.615,3.23A.581.581,0,0,1,11,2.615a.615.615,0,0,1,1.23,0A.581.581,0,0,1,11.615,3.23Z" transform="translate(-4.235)">
        </path>
        <path class="a" d="M17.69,15.069H14.615a.615.615,0,0,1,0-1.23H17.69a1.234,1.234,0,0,0,1.23-1.23V5.23H17.69a.581.581,0,0,1-.615-.615A.581.581,0,0,1,17.69,4h1.845a.581.581,0,0,1,.615.615V12.61A2.467,2.467,0,0,1,17.69,15.069Z" transform="translate(-5.39 -0.77)">
        </path>
        <path class="a" d="M7.69,10.92H4.615A.581.581,0,0,1,4,10.3V6.615A.581.581,0,0,1,4.615,6H7.69a.581.581,0,0,1,.615.615V10.3A.581.581,0,0,1,7.69,10.92ZM5.23,9.69H7.075V7.23H5.23Z" transform="translate(-1.54 -1.54)">
        </path>
        <path class="a" d="M14.46,7.23H12.615A.581.581,0,0,1,12,6.615.581.581,0,0,1,12.615,6H14.46a.581.581,0,0,1,.615.615A.581.581,0,0,1,14.46,7.23Z" transform="translate(-4.62 -1.54)">
        </path>
        <path class="a" d="M14.46,10.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -2.695)">
        </path>
        <path class="a" d="M14.46,13.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -3.85)">
        </path>
        <path class="a" d="M11.38,17.23H4.615a.615.615,0,1,1,0-1.23H11.38a.615.615,0,1,1,0,1.23Z" transform="translate(-1.54 -5.39)">
        </path>
       </g>
      </svg>
     </a>
    </div>
    <!-- Start of Accordion Content -->
    <div class="accordion-content mt15 pr15 pl15" style="display: none;">
     <button class="mb-rgbtn" onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/GD01'">
      buy
     </button>
     <script>
      if (readCookie('nnmc')){
                        var sellbtn = `<button onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/GD01'" class="mb-rgbtn">sell</button>`;
                        document.write(sellbtn);
                }
     </script>
     <a class="view-btn" href="https://moneybhai.moneycontrol.com/snapshot/stock-GD01.html">
      View Stock
     </a>
    </div>
   </div>
   <div class="row accordion pb15 pt15 mbh-rank-table-row">
    <div class="col col-40 text-left bold" style="cursor:pointer;white-space: nowrap;overflow: hidden;">
     Mahindra Life
    </div>
    <div class="col col-30 curr-cost text-right">
     379.00
    </div>
    <div class="col col-30 center-text">
     <a href="http://www.moneycontrol.com/news/recommendations/buy-mahindra-lifespace-developers-targetrs-430-icici-direct_16325421.html" onclick='GAEventTracker("Moneybhai Home", "Stock Advice-Latest News", "Mahindra Life")' target="_blank">
      <svg height="12.299" viewbox="0 0 14.759 12.299" width="14.759" xmlns="https://www.w3.org/2000/svg">
       <defs>
        <style>
         .a {
                                        fill: #454545;
                                    }
        </style>
       </defs>
       <g transform="translate(0 -2)">
        <path class="a" d="M12.3,14.3H2.46A2.467,2.467,0,0,1,0,11.84V2.615A.581.581,0,0,1,.615,2H12.3a.581.581,0,0,1,.615.615v8.61a.615.615,0,0,1-1.23,0V3.23H1.23v8.61a1.234,1.234,0,0,0,1.23,1.23H12.3a.615.615,0,0,1,0,1.23Z">
        </path>
        <path class="a" d="M11.615,3.23A.581.581,0,0,1,11,2.615a.615.615,0,0,1,1.23,0A.581.581,0,0,1,11.615,3.23Z" transform="translate(-4.235)">
        </path>
        <path class="a" d="M17.69,15.069H14.615a.615.615,0,0,1,0-1.23H17.69a1.234,1.234,0,0,0,1.23-1.23V5.23H17.69a.581.581,0,0,1-.615-.615A.581.581,0,0,1,17.69,4h1.845a.581.581,0,0,1,.615.615V12.61A2.467,2.467,0,0,1,17.69,15.069Z" transform="translate(-5.39 -0.77)">
        </path>
        <path class="a" d="M7.69,10.92H4.615A.581.581,0,0,1,4,10.3V6.615A.581.581,0,0,1,4.615,6H7.69a.581.581,0,0,1,.615.615V10.3A.581.581,0,0,1,7.69,10.92ZM5.23,9.69H7.075V7.23H5.23Z" transform="translate(-1.54 -1.54)">
        </path>
        <path class="a" d="M14.46,7.23H12.615A.581.581,0,0,1,12,6.615.581.581,0,0,1,12.615,6H14.46a.581.581,0,0,1,.615.615A.581.581,0,0,1,14.46,7.23Z" transform="translate(-4.62 -1.54)">
        </path>
        <path class="a" d="M14.46,10.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -2.695)">
        </path>
        <path class="a" d="M14.46,13.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -3.85)">
        </path>
        <path class="a" d="M11.38,17.23H4.615a.615.615,0,1,1,0-1.23H11.38a.615.615,0,1,1,0,1.23Z" transform="translate(-1.54 -5.39)">
        </path>
       </g>
      </svg>
     </a>
    </div>
    <!-- Start of Accordion Content -->
    <div class="accordion-content mt15 pr15 pl15" style="display: none;">
     <button class="mb-rgbtn" onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/MLD'">
      buy
     </button>
     <script>
      if (readCookie('nnmc')){
                        var sellbtn = `<button onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/MLD'" class="mb-rgbtn">sell</button>`;
                        document.write(sellbtn);
                }
     </script>
     <a class="view-btn" href="https://moneybhai.moneycontrol.com/snapshot/stock-MLD.html">
      View Stock
     </a>
    </div>
   </div>
   <div class="row accordion pb15 pt15 mbh-rank-table-row">
    <div class="col col-40 text-left bold" style="cursor:pointer;white-space: nowrap;overflow: hidden;">
     KPR Mill
    </div>
    <div class="col col-30 curr-cost text-right">
     630.20
    </div>
    <div class="col col-30 center-text">
     <a href="http://www.moneycontrol.com/news/recommendations/buy-kpr-mill-targetrs-815-icici-direct_16325441.html" onclick='GAEventTracker("Moneybhai Home", "Stock Advice-Latest News", "KPR Mill")' target="_blank">
      <svg height="12.299" viewbox="0 0 14.759 12.299" width="14.759" xmlns="https://www.w3.org/2000/svg">
       <defs>
        <style>
         .a {
                                        fill: #454545;
                                    }
        </style>
       </defs>
       <g transform="translate(0 -2)">
        <path class="a" d="M12.3,14.3H2.46A2.467,2.467,0,0,1,0,11.84V2.615A.581.581,0,0,1,.615,2H12.3a.581.581,0,0,1,.615.615v8.61a.615.615,0,0,1-1.23,0V3.23H1.23v8.61a1.234,1.234,0,0,0,1.23,1.23H12.3a.615.615,0,0,1,0,1.23Z">
        </path>
        <path class="a" d="M11.615,3.23A.581.581,0,0,1,11,2.615a.615.615,0,0,1,1.23,0A.581.581,0,0,1,11.615,3.23Z" transform="translate(-4.235)">
        </path>
        <path class="a" d="M17.69,15.069H14.615a.615.615,0,0,1,0-1.23H17.69a1.234,1.234,0,0,0,1.23-1.23V5.23H17.69a.581.581,0,0,1-.615-.615A.581.581,0,0,1,17.69,4h1.845a.581.581,0,0,1,.615.615V12.61A2.467,2.467,0,0,1,17.69,15.069Z" transform="translate(-5.39 -0.77)">
        </path>
        <path class="a" d="M7.69,10.92H4.615A.581.581,0,0,1,4,10.3V6.615A.581.581,0,0,1,4.615,6H7.69a.581.581,0,0,1,.615.615V10.3A.581.581,0,0,1,7.69,10.92ZM5.23,9.69H7.075V7.23H5.23Z" transform="translate(-1.54 -1.54)">
        </path>
        <path class="a" d="M14.46,7.23H12.615A.581.581,0,0,1,12,6.615.581.581,0,0,1,12.615,6H14.46a.581.581,0,0,1,.615.615A.581.581,0,0,1,14.46,7.23Z" transform="translate(-4.62 -1.54)">
        </path>
        <path class="a" d="M14.46,10.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -2.695)">
        </path>
        <path class="a" d="M14.46,13.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -3.85)">
        </path>
        <path class="a" d="M11.38,17.23H4.615a.615.615,0,1,1,0-1.23H11.38a.615.615,0,1,1,0,1.23Z" transform="translate(-1.54 -5.39)">
        </path>
       </g>
      </svg>
     </a>
    </div>
    <!-- Start of Accordion Content -->
    <div class="accordion-content mt15 pr15 pl15" style="display: none;">
     <button class="mb-rgbtn" onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/M15'">
      buy
     </button>
     <script>
      if (readCookie('nnmc')){
                        var sellbtn = `<button onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/M15'" class="mb-rgbtn">sell</button>`;
                        document.write(sellbtn);
                }
     </script>
     <a class="view-btn" href="https://moneybhai.moneycontrol.com/snapshot/stock-M15.html">
      View Stock
     </a>
    </div>
   </div>
   <div class="row accordion pb15 pt15 mbh-rank-table-row">
    <div class="col col-40 text-left bold" style="cursor:pointer;white-space: nowrap;overflow: hidden;">
     Varun Beverages
    </div>
    <div class="col col-30 curr-cost text-right">
     1084.35
    </div>
    <div class="col col-30 center-text">
     <a href="http://www.moneycontrol.com/news/recommendations/buy-varun-beverages-targetrs-1300-icici-direct_16325341.html" onclick='GAEventTracker("Moneybhai Home", "Stock Advice-Latest News", "Varun Beverages")' target="_blank">
      <svg height="12.299" viewbox="0 0 14.759 12.299" width="14.759" xmlns="https://www.w3.org/2000/svg">
       <defs>
        <style>
         .a {
                                        fill: #454545;
                                    }
        </style>
       </defs>
       <g transform="translate(0 -2)">
        <path class="a" d="M12.3,14.3H2.46A2.467,2.467,0,0,1,0,11.84V2.615A.581.581,0,0,1,.615,2H12.3a.581.581,0,0,1,.615.615v8.61a.615.615,0,0,1-1.23,0V3.23H1.23v8.61a1.234,1.234,0,0,0,1.23,1.23H12.3a.615.615,0,0,1,0,1.23Z">
        </path>
        <path class="a" d="M11.615,3.23A.581.581,0,0,1,11,2.615a.615.615,0,0,1,1.23,0A.581.581,0,0,1,11.615,3.23Z" transform="translate(-4.235)">
        </path>
        <path class="a" d="M17.69,15.069H14.615a.615.615,0,0,1,0-1.23H17.69a1.234,1.234,0,0,0,1.23-1.23V5.23H17.69a.581.581,0,0,1-.615-.615A.581.581,0,0,1,17.69,4h1.845a.581.581,0,0,1,.615.615V12.61A2.467,2.467,0,0,1,17.69,15.069Z" transform="translate(-5.39 -0.77)">
        </path>
        <path class="a" d="M7.69,10.92H4.615A.581.581,0,0,1,4,10.3V6.615A.581.581,0,0,1,4.615,6H7.69a.581.581,0,0,1,.615.615V10.3A.581.581,0,0,1,7.69,10.92ZM5.23,9.69H7.075V7.23H5.23Z" transform="translate(-1.54 -1.54)">
        </path>
        <path class="a" d="M14.46,7.23H12.615A.581.581,0,0,1,12,6.615.581.581,0,0,1,12.615,6H14.46a.581.581,0,0,1,.615.615A.581.581,0,0,1,14.46,7.23Z" transform="translate(-4.62 -1.54)">
        </path>
        <path class="a" d="M14.46,10.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -2.695)">
        </path>
        <path class="a" d="M14.46,13.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -3.85)">
        </path>
        <path class="a" d="M11.38,17.23H4.615a.615.615,0,1,1,0-1.23H11.38a.615.615,0,1,1,0,1.23Z" transform="translate(-1.54 -5.39)">
        </path>
       </g>
      </svg>
     </a>
    </div>
    <!-- Start of Accordion Content -->
    <div class="accordion-content mt15 pr15 pl15" style="display: none;">
     <button class="mb-rgbtn" onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/VB05'">
      buy
     </button>
     <script>
      if (readCookie('nnmc')){
                        var sellbtn = `<button onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/VB05'" class="mb-rgbtn">sell</button>`;
                        document.write(sellbtn);
                }
     </script>
     <a class="view-btn" href="https://moneybhai.moneycontrol.com/snapshot/stock-VB05.html">
      View Stock
     </a>
    </div>
   </div>
   <div class="row accordion pb15 pt15 mbh-rank-table-row">
    <div class="col col-40 text-left bold" style="cursor:pointer;white-space: nowrap;overflow: hidden;">
     IEX
    </div>
    <div class="col col-30 curr-cost text-right">
     214.50
    </div>
    <div class="col col-30 center-text">
     <a href="http://www.moneycontrol.com/news/recommendations/buy-indian-energy-exchange-targetrs-285-icici-direct_16325361.html" onclick='GAEventTracker("Moneybhai Home", "Stock Advice-Latest News", "IEX")' target="_blank">
      <svg height="12.299" viewbox="0 0 14.759 12.299" width="14.759" xmlns="https://www.w3.org/2000/svg">
       <defs>
        <style>
         .a {
                                        fill: #454545;
                                    }
        </style>
       </defs>
       <g transform="translate(0 -2)">
        <path class="a" d="M12.3,14.3H2.46A2.467,2.467,0,0,1,0,11.84V2.615A.581.581,0,0,1,.615,2H12.3a.581.581,0,0,1,.615.615v8.61a.615.615,0,0,1-1.23,0V3.23H1.23v8.61a1.234,1.234,0,0,0,1.23,1.23H12.3a.615.615,0,0,1,0,1.23Z">
        </path>
        <path class="a" d="M11.615,3.23A.581.581,0,0,1,11,2.615a.615.615,0,0,1,1.23,0A.581.581,0,0,1,11.615,3.23Z" transform="translate(-4.235)">
        </path>
        <path class="a" d="M17.69,15.069H14.615a.615.615,0,0,1,0-1.23H17.69a1.234,1.234,0,0,0,1.23-1.23V5.23H17.69a.581.581,0,0,1-.615-.615A.581.581,0,0,1,17.69,4h1.845a.581.581,0,0,1,.615.615V12.61A2.467,2.467,0,0,1,17.69,15.069Z" transform="translate(-5.39 -0.77)">
        </path>
        <path class="a" d="M7.69,10.92H4.615A.581.581,0,0,1,4,10.3V6.615A.581.581,0,0,1,4.615,6H7.69a.581.581,0,0,1,.615.615V10.3A.581.581,0,0,1,7.69,10.92ZM5.23,9.69H7.075V7.23H5.23Z" transform="translate(-1.54 -1.54)">
        </path>
        <path class="a" d="M14.46,7.23H12.615A.581.581,0,0,1,12,6.615.581.581,0,0,1,12.615,6H14.46a.581.581,0,0,1,.615.615A.581.581,0,0,1,14.46,7.23Z" transform="translate(-4.62 -1.54)">
        </path>
        <path class="a" d="M14.46,10.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -2.695)">
        </path>
        <path class="a" d="M14.46,13.23H12.615a.615.615,0,0,1,0-1.23H14.46a.615.615,0,0,1,0,1.23Z" transform="translate(-4.62 -3.85)">
        </path>
        <path class="a" d="M11.38,17.23H4.615a.615.615,0,1,1,0-1.23H11.38a.615.615,0,1,1,0,1.23Z" transform="translate(-1.54 -5.39)">
        </path>
       </g>
      </svg>
     </a>
    </div>
    <!-- Start of Accordion Content -->
    <div class="accordion-content mt15 pr15 pl15" style="display: none;">
     <button class="mb-rgbtn" onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/IEE'">
      buy
     </button>
     <script>
      if (readCookie('nnmc')){
                        var sellbtn = `<button onclick="location.href='https://moneybhai.moneycontrol.com/neworderview/stocks/IEE'" class="mb-rgbtn">sell</button>`;
                        document.write(sellbtn);
                }
     </script>
     <a class="view-btn" href="https://moneybhai.moneycontrol.com/snapshot/stock-IEE.html">
      View Stock
     </a>
    </div>
   </div>
   <!-- End Of Row -->
   <div class="va-wrapper">
    <a class="mb-viewall" href="https://www.moneycontrol.com/markets/stock-advice/" target="_blank">
     View All
    </a>
   </div>
  </div>
 </div>
</div>
