<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Rocket
    </title>
    {% load static %}
    <link rel="shortcut icon" href="/static/img/logo.png"type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/r.css' %}">
    <script src="{%static 'js/r.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <body onLoad="JavaScript:checkRefresh();">
        <form name="refreshForm">
            {% csrf_token %}
            <input type="hidden" name="visited" value="" />
            </form>
    
 <!-- navigation and logo -->
 <div class="nav">
    <div class="logo">
      <img src="/static/img/logo.png" alt="logo">
  </div>
  <nav>
      <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/rules">Rules</a></li>
          <li><a href="/feedback">Feedback</a></li>
          <li><a href="/port">Portfolio</a></li>
          <li><a href="/transcat">Transcat</a></li>
          <li><a href="/learn">Learn</a></li>
          <li><a href="/leaders">Leaders</a></li>
      </ul>
  </nav>
    <div class="name">
        <h1>Rocket</h1>
        <h4>Stock Market Simulator</h4>
    </div>      
</div>