<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Rocket
    </title>
    
    {% load static %}
    
    <link rel="shortcut icon"  href="/static/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{%static 'js/login.js' %}"></script>
    <script src="{%static 'js/fg.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/transcat.css' %}">
 

</head>
<body>
    
 <!-- navigation and logo -->
 <div class="nav">
    <div class="logo">
      <img src="/static/img/logo.png" alt="logo">
  </div>
  <nav>
      <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/rules">Rules</a></li>
          <li><a href="/feedback">Feedback</a></li>
          <li><a href="/port">Portfolio</a></li>
          <li><a href="/transcat">Transcat</a></li>
          <li><a href="/learn">Learn</a></li>
          <li><a href="/leaders">Leaders</a></li>
      </ul>
  </nav>
    <div class="name">
        <h1>Rocket</h1>
        <h4>Stock Market Simulator</h4>
    </div>      
</div>
{% if user.is_authenticated %}
<div class="welcome">
    <h3>Hello {{user}} Welcome To Rocket Stock Market Simulator!</h3>
    <button type="submit" class="btn" a href="/signout">SignOut</button>
</div>
<div class="mainstock">
    <form action="/search" method="post" class="searchbar1">
        {% csrf_token %}
    <input type="text" class="searchbar" id="search" name="search" placeholder="Search a stock">
    <button class="btn"  onclick="openForms()"><i class="fa fa-search"></i></button>
    </form>
    <div class="stockinfo" id="stockinfo">
        <div class="stockname">
            <h4>{{stockname}}
            <br>
            {{stockprice}} ₹  ({{ pchange }}%)</h4>
        </div>
        <div class="stocktransact" id="stocktransact">
            <form action="/stocktransact" method="post" class="stocktform">
                {% csrf_token %}
            <table>
            <tr><td><label for="quantity">Quantity</label></td>
                <td><input type="text" name="quantity" id="quantity"></td>
                </tr>
            <tr><td><label for="price">Price</label></td>
                <td><input type="text" name="price" id="price" disabled placeholder="{{stockprice}}"></td>
            </tr>
            <tr><td><label for="tinvestment">Totalinvestment</label></td>
                <td><input type="text" id="tinvestment" name= "tinvestment" placeholder="{{totalinvestment}}" disabled >
                </td>
                </tr> 
            </table>
            <button class="btn" type="submit" onclick="/create">Done</button>
            </form>
        </div>
            
        
    </div>
</div>
   
  
    

    

{% comment %} login {% endcomment %}
    {% else %}
    <div class="login">
        <h1>Welcome, Login to access your Portfolio</h1>
        <button class="btn"  onclick="openForm()">
            Login <i class="fa fa-arrow-right"></i>
        </button>
        <div class="formc" id="form">
            <div class="form" id="form1">   
                <div class="clnbtn">
                    <span onclick="javascript:closeForm()" class="close" title="Close Modal">&times;</span>
                </div>    
                <div class="formhead">
                    <h3>Login</h3>
                </div>
               
                <form action="/signin" method="post">
                    {% csrf_token %}
                    <input type="text" name="username" id="username" placeholder="Enter Your username">
        
                    <input type="text" name="pass1" id="pass1" placeholder="Enter Your Password">
                    <div class="fp">
                        <a href="javascript:openFg()">Forgot Password?</a>
                    </div>
                    <button type="submit" class="btn">Login</button> 
                </form>
                <div class="signuplink">
                    <p></p>
                    <p>Dont Have An Account? <a href="javascript:signIn()"> Signup</a></p>
                </div>
            </div>
            <div class="fg" id="fg">
                <div class="clnbtn">
                    <span onclick="javascript:closeForm()" class="close" title="Close Modal">&times;</span>
                </div>
                <div class="fgtop">
                    
                    Forgot Password
                    <p>Please enter the email address you used to register to receive the password reset instructions.</p>
                </div>
                <form action="">
                    <input type="text" name="" id="" placeholder="Enter Your Email">
                    <button class="btn">Send Now</button>
                </form>
            </div>
            <div class="signin" id="sign">
                <div class="clnbtn">
                    <span onclick="javascript:closeForm()" class="close" title="Close Modal">&times;</span>
                </div>
                <div class="fgtop">
                    Sign up
                    
                </div>
                <form action= "/signup" method="post">
                    {% csrf_token %}
                    <input type="text" name="username" id="username" placeholder="Enter Your username">
                    <input type="text" name="email" id="email" placeholder="Enter Your Email">
                    <input type="password" name="pass1" id="pass1" placeholder="Enter Your passoword">
                    
                    <button class="btn" type="submit" >Sign up</button>
                </form>
            </div>
            
        </div>
    </div>
    {% endif %}

<!-- footer -->
<footer>
    <div class="foot">
        Copyright &copy; rocket.com Ltd. All rights reserved.
    </div>
</footer>
</body>
</html>
